directories:
  output: release
  buildResources: build
appId: org.whispersystems.signal-desktop
mac:
  artifactName: ${name}-mac-${arch}-${version}.${ext}
  category: public.app-category.social-networking
  darkModeSupport: true
  hardenedRuntime: true
  entitlements: ./build/entitlements.mac.plist
  icon: build/icons/mac/icon.icns
  publish:
    - provider: generic
      url: https://updates.signal.org/desktop
  mergeASARs: true
  singleArchFiles: node_modules/{@signalapp/libsignal-client/prebuilds/**,ringrtc/build/**,sharp/**}
  target:
    - target: zip
      arch:
        - x64
        - arm64
    - target: dmg
      arch:
        - x64
        - arm64
        - universal
  bundleVersion: '1'
win:
  artifactName: ${name}-win-${version}.${ext}
  certificateSubjectName: Signal Messenger, LLC
  certificateSha1: 8C9A0B5C852EC703D83EF7BFBCEB54B796073759
  signingHashAlgorithms:
    - sha256
  publisherName: Signal Messenger, LLC
  icon: build/icons/win/icon.ico
  publish:
    - provider: generic
      url: https://updates.signal.org/desktop
  target:
    - nsis
nsis:
  deleteAppDataOnUninstall: true
linux:
  category: Network;InstantMessaging;Chat
  desktop:
    StartupWMClass: Signal
  target:
    - deb
  icon: build/icons/png
deb:
  depends:
    - libnotify4
    - libxtst6
    - libnss3
    - libasound2
    - libxss1
protocols:
  name: sgnl-url-scheme
  schemes:
    - sgnl
    - signalcaptcha
beforeBuild: scripts/install-cross-deps.js
afterPack: ts/scripts/after-pack.js
afterSign: ts/scripts/after-sign.js
afterAllArtifactBuild: ts/scripts/after-all-artifact-build.js
asar:
  smartUnpack: false
asarUnpack:
  - '**/*.node'
  - node_modules/sharp/{build,vendor}/**
  - '!node_modules/sharp/**/*.{js,json}'
files:
  - filter:
      - package.json
      - config/default.json
      - config/${env.SIGNAL_ENV}.json
      - config/local-${env.SIGNAL_ENV}.json
      - background.html
      - about.html
      - screenShare.html
      - settings.html
      - permissions_popup.html
      - debug_log.html
      - loading.html
      - _locales/**
      - protos/*
      - js/**
      - libtextsecure/**
      - ts/**/*.js
      - ts/*.js
      - stylesheets/*.css
      - '!js/register.js'
      - app/*
      - preload.bundle.js
      - preload_utils.js
      - main.js
      - images/**
      - fonts/**
      - sounds/*
      - build/icons
      - node_modules/**
      - sticker-creator/preload.js
      - sticker-creator/dist/**
      - '!node_modules/emoji-datasource/emoji_pretty.json'
      - '!node_modules/emoji-datasource/**/*.png'
      - '!node_modules/emoji-datasource-apple/emoji_pretty.json'
      - '!node_modules/emoji-datasource-apple/img/apple/sheets*'
      - '!node_modules/spellchecker/vendor/hunspell/**/*'
      - '!**/node_modules/*/{CHANGELOG.md,README.md,README,readme.md,readme,test,__tests__,tests,powered-test,example,examples,*.d.ts,.snyk-*.flag,benchmark}'
      - '!**/node_modules/.bin'
      - '!**/node_modules/**/build/**'
      - node_modules/intl-tel-input/build/**
      - '!**/node_modules/**/prebuilds/**'
      - '!**/*.{o,hprof,orig,pyc,pyo,rbc}'
      - '!**/._*'
      - '!**/{.DS_Store,.git,.hg,.svn,CVS,RCS,SCCS,__pycache__,thumbs.db,.gitignore,.gitattributes,.flowconfig,.yarn-metadata.json,.idea,appveyor.yml,.travis.yml,circle.yml,npm-debug.log,.nyc_output,yarn.lock,.yarn-integrity}'
      - node_modules/spellchecker/build/Release/*.node
      - node_modules/websocket/build/Release/*.node
      - '!node_modules/websocket/builderror.log'
      - node_modules/socks/build/*.js
      - node_modules/socks/build/common/*.js
      - node_modules/socks/build/client/*.js
      - node_modules/smart-buffer/build/*.js
      - node_modules/sharp/build/**/*${arch}*.node
      - node_modules/sharp/build/**/*.dll
      - '!node_modules/sharp/{install,src,vendor}'
      - '!node_modules/sharp/vendor'
      - node_modules/sharp/vendor/*/*${arch}*/**
      - '!node_modules/sharp/vendor/*/*${arch}*/**/include/**'
      - '!node_modules/sharp/vendor/*/*win32*/**/*.{dll,lib}'
      - '!node_modules/better-sqlite3/deps/*'
      - '!node_modules/better-sqlite3/src/*'
      - node_modules/better-sqlite3/build/Release/better_sqlite3.node
      - node_modules/@signalapp/libsignal-client/prebuilds/${platform}-${arch}/*.node
      - node_modules/ringrtc/build/${platform}/*${arch}*.node
      - node_modules/mac-screen-capture-permissions/build/Release/*.node
      - '!**/node_modules/react-dom/*/*.development.js'
      - '!node_modules/.cache'
extraMetadata:
  environment: production
electronVersion: 18.3.2
